:root {
    --primary-color: #f28705;
    --primary-color-hover: #d0973d;
    --secondary-color: #022859;
    --secondary-color-hover: #1e58a3;
    --tertiary-color: #734a27;
    --background-color: #f3ecdf;
    --light-color: #ffffff;
    --transition: 0.5s ease;
    --radius: 0.5rem;
  }

  .box {
    margin-top: 4.5rem;
  }
  
  .form {
    padding: 53px 171px; /* top, right, bottom, left*/
  }

  fieldset {
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    padding: 60px 227px;
    
    height: 300px;
    width: 800px;
  }

.primeiro {
  margin-top: 60px;
  margin-bottom: 30px;
}

.legendaDois {
  border: 1px solid var(--tertiary-color);
}

